<br>
<div class="container" style="background-color: lightblue; padding-top: 20px;width:75%;border-radius: 15px;">

    <% if (success_msg) { %>
        <div class="alert alert-primary" role="alert">
            Task added successfully
        </div>
        <%} %>
            <form action="/task/create" method="POST">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" name="name" id="floatingInput" placeholder="task name">
                    <label for="floatingInput">task name</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="text" class="form-control" name="comment" id="floatingInput" placeholder="comment">
                    <label for="floatingInput">Comment</label>
                </div>
                <br>
                <div class="form-floating mb-3">
                    <input type="Date" class="form-control" name="date" id="floatingInput" placeholder="Date">
                    <label for="floatingInput">Date</label>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlSelect1"></label>
                    <select class="form-control" id="exampleFormControlSelect1" name="status">
                        <option>none</option>
                        <option>Done</option>
                        <option>Not Done</option>
                    </select>
                </div>
                <br>

                <div class="form-floating">
                    <input type="time" class="form-control" name="time" id="floatingInput" placeholder="time">
                    <label for="floatingInput">time</label>
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Add</button>

            </form>

</div>